body{ background-color: rgb(250, 248, 248);
margin: 0%;
padding: 0%;}
.navbar{
}
.navbar::before{height: 12vh;
    
}
.logo {
    flex-direction: column;
    flex-wrap: wrap;
}
.logo img{margin: auto;
width: 30px;
height: 30px;}
.nav{ flex-direction: column;
    padding: 0px;
    margin: auto;}
.nav li{display: block;
   margin: auto;
    font-size: 7px;
}
.nav li a {
    color: aliceblue;
    font-size: 10px;
    margin: 0%;
    padding: 0px;
}
.section1{height: 430px;
    display: flex;
    flex-direction: column;
}
.section1 button{
    font-size:15px ;
}
.section1::before{
    height: 60%;
}
.section1 h1{
    font-size: 1.8rem;
}
.section1 p{
    font-size: 10px;
    text-align: center;
}
.box{flex-direction: column;}
.foodorder {flex-direction: column;}
.foodorder img{}
.section2{}
.client{}
.client::before{}
.container img{width: 80px;
    margin: 5px;
height: 80px;}
.contactbox{}
.contact::before{

}
.feedback input{
    width: 200px;
    height: 20px;
    margin: 1px;

}
.feedback button{margin-top: 5px;
}